# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

#d3stryr-3stripes configuration file
config.cfg

#Python Cache
__pycache__

#VirtualEnv files
bin/
Scripts/
Lib/
Include/
tcl/