[debug]
debug = True
pauseBeforeBrowserQuit = False

[user]
marketLocale = US
parametersLocale = US
masterPid = BB1967
#masterPids = BY9612, BY1605, BY9611
proxy2Captcha = localhost
apikey2captcha = xXx
processCaptcha = True
processCaptchaDuplicate = False
useClientInventory = True
useVariantInventory = False
mySizes = 5, 6, 7, 7.5, 8, 9, 9.5, 10, 10.5, 11, 11.5, 12, 12.5, 13, 14, 42 2/3

[harvest]
#To manually harvest captcha tokens - set to True
manuallyHarvestTokens = True
#Specify the number of tokens to manually harvest before starting ATC
numberOfTokens = 1
#Spoofed domain for local captcha hosting
harvestDomain = dev.adidas.com
#Port the PHP server is running on
phpServerPort = 8000

[sleeping]
sleeping = 3

[clientId]
apiEnv = production
US = bb1e6193-3c86-481e-a440-0d818af5f3c8
CA = ReplaceWithAValidClientId
EU = 2904a24b-e4b4-4ef7-89a4-2ebd2d175dde
AU = 75e396c6-5589-425b-be03-774c21a74702

[sitekey]
#USParley = 6Lc4pgsUAAAAAM--DmKN94TLmRxf1UUwGuzKl2I7
US = 6Le4AQgUAAAAAABhHEq7RWQNJwGR_M-6Jni9tgtA
CA = 6LdNnykTAAAAAMeh4_jgbXqo7pgFZCeCByiivMFw
EU = 6LeOnCkTAAAAAK72JqRneJQ2V7GvQvvgzsVr-6kR
AU = 6LfmqykTAAAAAPkpAt5TNBSeZl81VlbRl7pZpM9m
#pollProductPageForSiteKey = False
#useOnlyProductPageSiteKey = False

[duplicate]
duplicate = x-PrdRt

[cookie]
cookie = neverywhere=neverytime;

[script]
scriptURL = None

[market]
AE = en_AE
AR = es_AR
AT = de_AT
AU = en_AU
BE = fr_BE
BH = en_BH
BR = pt_BR
CA = en_CA
CF = fr_CA
CH = de_CH
CL = es_CL
CN = zh_CN
CO = es_CO
CZ = cz_CZ
DE = de_DE
DK = da_DK
EE = et_EE
ES = es_ES
FI = fi_FI
FR = fr_FR
GB = en_GB
GR = en_GR
HK = zh_HK
HU = hu_HU
ID = id_ID
IE = en_IE
IN = en_IN
IT = it_IT
JP = ja_JP
KR = ko_KR
KW = ar_KW
MX = es_MX
MY = en_MY
NG = en_NG
NL = nl_NL
NO = no_NO
NZ = en_NZ
OM = en_OM
PE = es_PE
PH = en_PH
PL = pl_PL
PT = en_PT
QA = en_QA
RU = ru_RU
SA = en_SA
SE = sv_SE
SG = en_SG
SK = sk_SK
TH = th_TH
TR = tr_TR
TW = zh_TW
US = en_US
VE = es_VE
VN = vi_VN
ZA = en_ZA

[marketDomain]
AT = adidas.at
AU = adidas.com.au
BE = adidas.be
BR = adidas.com.br
CA = adidas.ca
CF = adidas.ca
CH = adidas.ch
CL = adidas.cl
CN = adidas.cn
CO = adidas.co
CZ = adidas.cz
DE = adidas.de
DK = adidas.dk
EE = baltics.adidas.com
ES = adidas.es
FI = adidas.fi
FR = adidas.fr
GB = adidas.co.uk
GR = adidas.gr
HK = adidas.com.hk
HU = adidas.hu
IE = adidas.ie
ID = adidas.co.id
IN = adidas.co.in
IT = adidas.it
JP = japan.adidas.com
KR = adidas.co.kr
KW = mena.adidas.com
MX = adidas.mx
MY = adidas.com.my
NG = global.adidas.com
NL = adidas.nl
NO = adidas.no
NZ = adidas.co.nz
OM = adidas.com.om
PE = adidas.pe
PH = adidas.com.ph
PL = adidas.pl
PT = adidas.pt
QA = adidas.com.qa
RU = adidas.ru
SE = adidas.se
SG = adidas.com.sg
SK = adidas.sk
TH = adidas.co.th
TR = adidas.com.tr
TW = adidas.com.tw
US = adidas.com
VE = latin-america.adidas.com
VN = adidas.com.vn
ZA = adidas.co.za
